/build/
/.idea/
/.gradle/

# Project exclude paths
/anthology/.gradle/
/client/build/
/client/build/classes/java/main/
/core/build/
/core/build/classes/java/main/
/server/build/
/server/build/classes/java/main/